#node_modules
node_modules/
.env
back-end.pdf
submmation_tmp.html
submmation.md
front-end.pdf
README.md
submmation.md
Front-end/submation_tmp.html
Front-end/README.md
Front-end/submation.md
Front-end/README.md
Front-end/src/components/host/email.txt
